Django>=4.2,<5.0
djangorestframework>=3.14.0
django-filter>=23.1
djoser>=2.2.0
psycopg2-binary>=2.9.5
pillow>=9.5.0
gunicorn>=20.1.0

# Тестирование
pytest-django>=4.5.2
pytest-lazy-fixture>=0.6.3
